@model IEnumerable<PetProject.UserPrivateChat>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chats";
}

<div class="container mt-2">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div>
                    <input type="text" id="searchInput" class="form-control" placeholder="Search..." oninput="searchUsers()"/>
                    <ul id="userList" class="list-user-search" style="display: none;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @* <li>
                            <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                            <div class="about">
                                <div class="name">Vincent Porter</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> Người lạ </div>                                            
                            </div>
                        </li> *@
                    </ul>
                </div>
                <ul class="list-unstyled chat-list mt-3 mb-0 user-list">
                    @foreach (var user in Model)
                    {
                        <li class="clearfix" id="@user.ChatId">
                            <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                            <div class="about">
                                <div class="name">@user.User.FullName</div>
                                <div class="status"> <i class="fa fa-circle offline"></i> left 7 mins ago </div>                                            
                            </div>
                        </li>
                    }
                </ul>
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        <div class="col-lg-6 d-flex align-items-center">
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                            </a>
                            <div class="chat-about">
                                <h6 class="m-b-0">Aiden Chavez</h6>
                                <small>Last seen: 2 hours ago</small>
                            </div>
                            @* <div class="ml-5"><i class="fa-solid fa-user-check"></i> Bạn bè</div> *@
                            <div class="ml-5"><i class="fa-solid fa-user-tie"></i> Người lạ</div>
                            
                        </div>
                        <div class="col-lg-6 hidden-sm text-right">
                            <a href="javascript:void(0);" class="btn btn-outline-secondary"><i class="bi bi-camera-video"></i></a>
                            <a href="javascript:void(0);" class="btn btn-outline-primary"><i class="fa fa-image"></i></a>
                        </div>
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            <div class="message-data text-right">
                                <span class="message-data-time">10:10 AM, Today</span>
                                <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                            </div>
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data text-left">
                                <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                                <span class="message-data-time">10:10 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>
                        <li class="clearfix">
                            <div class="message-data text-left">
                                <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                                <span class="message-data-time">10:10 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>
                        <li class="clearfix">
                            <div class="message-data text-left">
                                <img src="https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg" alt="avatar">
                                <span class="message-data-time">10:10 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0 column-gap-5">
                        <textarea class="form-control" placeholder="Type your message here..." rows="2"></textarea>
                        <button class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <script type="text/javascript">
        // Ẩn danh sách khi bấm ra ngoài
        $(document).on('click', function(event) {
            if (!$(event.target).closest('#userList').length && !$(event.target).is('#searchInput')) {
                $('#userList').hide(); // Ẩn danh sách nếu bấm ra ngoài
            }
        });

        async function searchUsers() {
            const searchInput = document.getElementById('searchInput').value;
                    const response = await fetch(`@Url.Action("FilterUsers", "User")?searchString=${searchInput}`);
            const users = await response.json();
                const searchResults = document.getElementById('userList');
            searchResults.innerHTML = '';

            users.forEach(user => {
                const li = createSearchUserItemResult(user)
                searchResults.appendChild(li);
            });

            searchResults.style.display = users.length > 0 ? 'block' : 'none';
        }

        function createSearchUserItemResult(user){
            // Tạo phần tử <li>
            const li = document.createElement('li');

            // Tạo ảnh đại diện
            const img = document.createElement('img');
            img.src = "https://static.vecteezy.com/system/resources/previews/008/442/086/non_2x/illustration-of-human-icon-user-symbol-icon-modern-design-on-blank-background-free-vector.jpg";
            img.alt = "avatar";

            // Tạo div chứa thông tin
            const aboutDiv = document.createElement('div');
            aboutDiv.classList.add('about');

            // Tạo tên người dùng
            const nameDiv = document.createElement('div');
            nameDiv.classList.add('name');
            nameDiv.textContent = user.user.fullName;

            // Tạo trạng thái người dùng
            const statusDiv = document.createElement('div');
            statusDiv.classList.add('status');

            // Tạo biểu tượng trạng thái
            const statusIcon = document.createElement('i');
            statusIcon.classList.add('fa', 'fa-circle', 'offline');
            statusIcon.style.color = "gray"; // Thiết lập màu sắc cho biểu tượng

            // Thêm văn bản trạng thái
            statusDiv.appendChild(statusIcon);
            statusDiv.appendChild(document.createTextNode(" Người lạ"));

            // Lắp ráp cấu trúc
            aboutDiv.appendChild(nameDiv);
            aboutDiv.appendChild(statusDiv);
            li.appendChild(img);
            li.appendChild(aboutDiv);

                li.onclick = () => selectUser(user.user.userId); // Gọi hàm khi nhấp vào
            return li
        }
    </script>
}