<!doctype html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>CodePen - Animated Login Form using Html &amp; CSS Only</title>
    <link href="~/css/form.css" rel="stylesheet" />

</head>

<body>
    <section class="custom-section">
    <span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span><span class="square-area"></span>

        <div class="signin register">
            <div class="content">
                <h2>Register</h2>
                <div class="form">

                    <div class="inputBox">
                        <input type="text" required> <i>Username</i>
                    </div>

                    <div class="inputBox">
                        <input type="password" required> <i>Password</i>
                    </div>

                    <div class="inputBox">
                        <input type="email" required> <i>Email</i>
                    </div>

                    <div class="inputBox">
                        <input type="text" required> <i>Phone Number</i>
                    </div>

                    <div class="inputBox">
                        <input type="text" required> <i>Address</i>
                    </div>

                    <div class="inputBox">
                        <input type="text" required> <i>City</i>
                    </div>

                    <div class="inputBox">
                        <input type="text" required> <i>Country</i>
                    </div>


                    <div class="inputBox register-btn-submit">
                        <input type="submit" value="Register">
                    </div>

                </div>
            </div>
        </div>

    </section> <!-- partial -->

</body>

</html>